<div class="tile">
  <a href=<%= "#{character_path(id: character.id)}" %>>
    <div class="tile-main">
      <h3><%= character.name %></h3>
    </div>
    <div class="tile-details">
      <%= "#{character.name_of_class} - lvl: #{character.level}" %>
    </div>
  </a>
</div>