.header {
  display: flex;
  flex-flow: row nowrap;
  color: white;
  background-color: #2890b0;
  height: 30px;
  justify-content: right;
  align-items: center;
}

.header-item {
  &:hover {
    background-color: #1a5e73;
    color: black;
  }
  text-align: center;
}

.header-item > a {
  &:visited {
    color: white;
  }
  text-decoration: none;
  padding: 6px 14px;
}

.flex {
	display: flex;
	width: 55%;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-end;
	margin: 10px 0px;
}

.two-column  {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-column {
  grid-column: 0 1;
}

.right-column {
  grid-column: 1 2;
}

.character {
  display: flex;
  flex-flow: column nowrap;
  width: 25%;
  margin: 1%;
  padding: 2px 16px;
}


.home {
  padding: 20px;
}

.tile {
  border: 1px solid #123641;
  background-color: #41caf3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  &:hover {
    background-color: #3198b8;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  a {
    text-decoration: none;
    color: #123641;
  }
}

.tile-details {

}

.tile-main {
  font-size: x-large;
  text-align: center;
}