.header {
  display: flex;
  flex-flow: row nowrap;
  color: white;
  background-color: #2890b0;
  height: 30px;
  justify-content: right;
  align-items: center;
}

.header-item {
  &:hover {
    background-color: #1a5e73;
    color: black;
  }
  text-align: center;
}

.header-item > a {
  &:visited {
    color: white;
  }
  text-decoration: none;
  padding: 6px 14px;
}


.tile {
  border: 1px solid #123641;
  background-color: #41caf3;
  &:hover {
    background-color: #3198b8;;
  }
}

.container {
  display: flex;
}

.character {
  display: flex;
  flex-flow: column nowrap;
  width: 25%;
  margin: 1%;
  padding: 10px;
}


.home {
  padding: 10px;
}